@use './../var' as *;

.cart {
  position: relative;
  outline: none;

  &:focus-visible &__icon {
    background-color: $green-light;
    color: $green;
  }

  &__icon {
    transition: background-color 0.25s ease-in, color 0.25s ease-in;

    @media (hover: hover) {
      &:hover {
        color: $green;
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $green;

    font-size: 10px;
    font-weight: 500;
    line-height: 0.5;
    color: white;

    position: absolute;
    top: 1.5px;
    left: 2px;
  }
}

.shopping-cart {
  width: max-content;
  padding: 15px;
  right: 5%;
  top: 120%;
  // width: 100%;
  background-color: $green-light;
  position: absolute;
  transition: opacity 0.25s ease-in;
  opacity: 0;
  z-index: -1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &.active {
    z-index: 10;
    opacity: 1;
  }

  &__products {
    padding: 15px 5px;
  }

  &__title {
    font-size: 18px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  &__item {
    outline-offset: 2px;
    border-radius: 1px;
    transition: outline-color 0.25s ease-in, background-color 0.25s ease-in, color 0.25s ease-in;
    padding-block: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }

    @media (hover: hover) {
      &:hover {
        color: $green;
      }
    }

    &:focus-visible {
      background-color: $green-light;
      color: $green;
      outline: 2px solid $green;
    }

    &:active {
      color: $green-dark;
    }
  }
}

.cart-item {
  text-align: left;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;

  &__image {
    max-width: 75px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
  }

  &__author {
    margin-bottom: 10px;
  }

  &__type {
    margin-bottom: 5px;
    font-size: 10px;
    color: $green-dark;
  }

  &__country {}

  &__count {}
}