@use "./../var" as *;

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  &__image {
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    color: $green;
  }
  @media (max-width: 700px) {
    padding-bottom: 16px;
  }
}
