@use "./../var" as *;

.replicas {
  padding-block: 35px 70px;
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    @media (max-width: 660px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: clamp(24px, 3.4vw, 40px);
    line-height: 1.1;
  }
  @media (max-width: 660px) {
    padding-block: 25px 50px;
  }
}
.replicas-countries {
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: mandatory;
  &__list {
    display: flex;
    gap: 32px;
    @media (max-width: 500px) {
      gap: 20px;
    }
  }
  &__item {
  }
}
.replicas-arts {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      align-items: center;
      justify-content: center;
      grid-template-columns: 290px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1ede6;
    padding: 20px 20px 20px 30px;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__info {
    align-self: start;
    margin-bottom: 20px;
  }
  &__author {
    font-size: 18px;
    color: #86928b;
    margin-bottom: 10px;
  }
  &__name {
    font-weight: 500;
    font-size: clamp(24px, 3.75vw, 30px);
    margin-bottom: 10px;
  }
  &__type {
    display: inline-block;
    height: 38px;
    font-size: clamp(16px, 2.25vw, 18px);
    margin-bottom: 10px;
  }
  &__price {
    color: $green;
    font-size: 24px;
    @media (max-width: 660px) {
      font-size: 20px;
    }
  }
  .button {
    width: 100%;
  }
}
