@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
