@use "./var" as *;

:root {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

body {
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	font-family:
		Raleway,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	color: $black;
	background-color: #f4f6f5;
	font-size: 18px;
	// line-height: 2;
	font-weight: 500;

	scrollbar-width: thin;
}

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	line-height: 1.2;
	margin: 0;
}

iframe {
	border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	// width: 100%;
	box-sizing: content-box;
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: 600px) {
		padding: 0 20px;
	}

	&--fullscreen {
		padding: 0 10px;
		max-width: unset;
	}
}
